body {
  background-image: url(http://apoeticmoment.files.wordpress.com/2009/11/message-in-a-bottle.jpg);
background-repeat: no-repeat;
background-size: 1500px;
background-position: center;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

p {
  color: black;
}

li {
  color: black;
}

label {
  color: black;
}

span {
  color: black;
}

hd {
  font-size: 90px;
}
