<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
      <li>{{#link-to 'question'}}Question{{/link-to}}</li>
      <li>{{#link-to 'new-question'}}New Question{{/link-to}}</li>
      <li>{{#link-to 'new-answer'}}New Answer{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
