<div class="row text-center vertically-spaced-md">
  <br>
    {{#link-to 'new-question' classNames='btn btn-default'}}Ask{{/link-to}}
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="link-list">
      {{#each question in model}}
        {{#link-to 'question' question}}
          <li>
            <span class="question">{{question.text}}</span>
            <span class="author">Asked by {{question.author}}</span>
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
